@import "functions";
@import "variables";
@import "mixins";
//@import "typography";
//@import "fonts";
//@import "shadow";
//@import "google-icons";
//@import "card";
//@import "accordion";
//@import "alert";
//@import "badge";
//@import "button";
//@import "modal";
//@import "dropdown";
//@import "textfield";
//@import "checkbox";
//@import "radio";
//@import "toggle-switch";
//@import "list";
//@import "navbar";
//@import "popover";
//@import "progressbar";
//@import "sidebar";
//@import "tab";
//@import "table";
//@import "tooltip";
//@import "floating-action-button";
//@import "utilities";

.pmd-z-depth {
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
  box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}

.btn {
  font-weight: 400;
  border: 1px solid transparent;
  text-transform: uppercase;
  padding: .625rem .75rem;
  font-size: .875rem;
  line-height: 1.1;
  border-radius: .125rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
  box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}
